.Toggle {
  height: 2rem;
  width: 3rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  background-color:red;
  transition: background-color 0.25s ease-in-out;
}
.Toggle.Toggle-on {
  background-color: grey;
}
.Toggle .Toggle-indicator {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  transition: transform 0.25s ease-in-out;
}
.Toggle.Toggle-on .Toggle-indicator {
  transform: translateX(1.5rem);
}
